.vs/


# Bỏ qua thư mục bin
bin/
**/bin/

# Bỏ qua thư mục obj
obj/
**/obj/
/OTMS.API/appsettings.json
/OTMS.DAL/appsettings.Development.json
/OTMS.BLL/appsettings.json


*.csproj.user
/OTMS.API/appsettings.json
/OTMS.API/appsettings.json
/OTMS.API/appsettings.json
/OTMS.BLL/appsettings.json
/OTMS.BLL/appsettings.json
OTMS.API/appsettings.json
OTMS.API/appsettings.json
/OTMS.API/appsettings.json
