USE [master]
GO
/****** Object:  Database [OTMS]    Script Date: 2/4/2025 9:37:49 PM ******/
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'OTMS')  
DROP DATABASE [OTMS];
CREATE DATABASE [OTMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OTMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OTMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OTMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OTMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OTMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OTMS]
GO
/****** Object:  Table [dbo].[attendances]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendances](
	[attendance_id] [uniqueidentifier] NOT NULL,
	[schedule_id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[attendance_status] [nvarchar](50) NOT NULL,
	[img_url] [nvarchar](500) NULL,
	[attendance_time] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[class_id] [uniqueidentifier] NOT NULL,
	[class_code] [nvarchar](50) NOT NULL,
	[class_name] [nvarchar](100) NOT NULL,
	[course_id] [uniqueidentifier] NOT NULL,
	[teacher_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[course_id] [uniqueidentifier] NOT NULL,
	[course_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[schedule_id] [uniqueidentifier] NOT NULL,
	[class_id] [uniqueidentifier] NOT NULL,
	[schedule_date] [datetime] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[slot] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[session_records]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session_records](
	[session_record_id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[video_url] [nvarchar](500) NULL,
	[description] [nvarchar](255) NULL,
	[uploaded_by] [uniqueidentifier] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[session_id] [uniqueidentifier] NOT NULL,
	[schedule_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[session_date] [datetime] NOT NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_types]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_types](
	[user_type_id] [uniqueidentifier] NOT NULL,
	[user_type_name] [nvarchar](50) NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/4/2025 9:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[user_type_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [int] NULL,
	[Token] [varchar](255) NULL,
	[ResetTokenExpiresAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[roles] ([role_id], [role_name], [description], [created_at], [updated_at], [status]) VALUES (N'3859010a-12f8-4eff-89f1-12696f443d88', N'Student', N'Tham gia lớp học', CAST(N'2025-02-02T20:43:50.113' AS DateTime), CAST(N'2025-02-02T20:43:50.113' AS DateTime), 1)
INSERT [dbo].[roles] ([role_id], [role_name], [description], [created_at], [updated_at], [status]) VALUES (N'dcf0a134-0eaa-4bb5-aa8d-a1b6a8104993', N'Administrator', N'Toàn quyền hệ thống', CAST(N'2025-02-02T20:43:50.113' AS DateTime), CAST(N'2025-02-02T20:43:50.113' AS DateTime), 1)
INSERT [dbo].[roles] ([role_id], [role_name], [description], [created_at], [updated_at], [status]) VALUES (N'3f0cf22e-3243-48db-8817-c76c2f9bd797', N'Lecturer', N'Giảng dạy các lớp học', CAST(N'2025-02-02T20:43:50.113' AS DateTime), CAST(N'2025-02-02T20:43:50.113' AS DateTime), 1)
GO
INSERT [dbo].[user_types] ([user_type_id], [user_type_name], [role_id], [description], [created_at], [updated_at], [status]) VALUES (N'd2bf750e-1178-4b2b-ba17-9317df7e22e0', N'paid', N'3859010a-12f8-4eff-89f1-12696f443d88', N'Học viên dã thanh toán', CAST(N'2025-02-02T20:43:50.177' AS DateTime), CAST(N'2025-02-02T20:43:50.177' AS DateTime), 1)
INSERT [dbo].[user_types] ([user_type_id], [user_type_name], [role_id], [description], [created_at], [updated_at], [status]) VALUES (N'9098f9ce-b6dd-498e-b015-973d6299aa4b', N'part-time', N'3f0cf22e-3243-48db-8817-c76c2f9bd797', N'Giảng viên bán thời gian', CAST(N'2025-02-02T20:43:50.177' AS DateTime), CAST(N'2025-02-02T20:43:50.177' AS DateTime), 1)
INSERT [dbo].[user_types] ([user_type_id], [user_type_name], [role_id], [description], [created_at], [updated_at], [status]) VALUES (N'f7ac32ce-14ba-49bb-b60e-a4b771509d34', N'trial', N'3859010a-12f8-4eff-89f1-12696f443d88', N'Học viên dùng thử', CAST(N'2025-02-02T20:43:50.177' AS DateTime), CAST(N'2025-02-02T20:43:50.177' AS DateTime), 1)
GO
INSERT [dbo].[users] ([user_id], [email], [password], [full_name], [role_id], [user_type_id], [status], [created_at], [updated_at], [is_active], [Token], [ResetTokenExpiresAt]) VALUES (N'7e5e9c5f-d285-4256-a05e-ab4a183a6ea1', N'tiennqhe176827@fpt.edu.vn', N'123456', N'tiendayne', N'3f0cf22e-3243-48db-8817-c76c2f9bd797', N'003af9e8-160f-45cf-9773-ad84792e7f13', N'activated', CAST(N'2025-02-02T23:20:35.063' AS DateTime), CAST(N'2025-02-04T08:22:40.797' AS DateTime), 1, N'ad1a3c89-71cd-48cd-833c-0b4f98bdf49b', NULL)
INSERT [dbo].[users] ([user_id], [email], [password], [full_name], [role_id], [user_type_id], [status], [created_at], [updated_at], [is_active], [Token], [ResetTokenExpiresAt]) VALUES (N'28344b70-b596-45d4-ba09-f4207a6cb595', N'student1@example.com', N'$2a$12$k7JZ2xLewWR9OhA45X.vzu7uTh0hADTkOJoTiChxKj0FakU8xDqqW', N'Bob Johnson', N'3859010a-12f8-4eff-89f1-12696f443d88', N'f7ac32ce-14ba-49bb-b60e-a4b771509d34', N'activated', CAST(N'2025-02-02T23:20:35.077' AS DateTime), CAST(N'2025-02-02T23:20:35.077' AS DateTime), 1, NULL, NULL)
GO
/****** Object:  Index [idx_attendances_schedule_id]    Script Date: 2/4/2025 9:37:50 PM ******/
CREATE NONCLUSTERED INDEX [idx_attendances_schedule_id] ON [dbo].[attendances]
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__courses__B5B2A66A5DD4D9F6]    Script Date: 2/4/2025 9:37:50 PM ******/
ALTER TABLE [dbo].[courses] ADD UNIQUE NONCLUSTERED 
(
	[course_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B181633C91]    Script Date: 2/4/2025 9:37:50 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_session_records_session_id]    Script Date: 2/4/2025 9:37:50 PM ******/
CREATE NONCLUSTERED INDEX [idx_session_records_session_id] ON [dbo].[session_records]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user_typ__C18145BA3ACFDB31]    Script Date: 2/4/2025 9:37:50 PM ******/
ALTER TABLE [dbo].[user_types] ADD UNIQUE NONCLUSTERED 
(
	[user_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164794C8093]    Script Date: 2/4/2025 9:37:50 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_role_id]    Script Date: 2/4/2025 9:37:50 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_role_id] ON [dbo].[users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attendances] ADD  DEFAULT (newid()) FOR [attendance_id]
GO
ALTER TABLE [dbo].[attendances] ADD  DEFAULT (getdate()) FOR [attendance_time]
GO
ALTER TABLE [dbo].[attendances] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attendances] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[attendances] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[classes] ADD  DEFAULT (newid()) FOR [class_id]
GO
ALTER TABLE [dbo].[classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[classes] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[classes] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (newid()) FOR [course_id]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [role_id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [schedule_id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[session_records] ADD  DEFAULT (newid()) FOR [session_record_id]
GO
ALTER TABLE [dbo].[session_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[session_records] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[session_records] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (newid()) FOR [session_id]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_types] ADD  DEFAULT (newid()) FOR [user_type_id]
GO
ALTER TABLE [dbo].[user_types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_types] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_types] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[attendances]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[schedules] ([schedule_id])
GO
ALTER TABLE [dbo].[attendances]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([course_id])
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[classes] ([class_id])
GO
ALTER TABLE [dbo].[session_records]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[sessions] ([session_id])
GO
ALTER TABLE [dbo].[session_records]  WITH CHECK ADD FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[schedules] ([schedule_id])
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_types]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([user_type_id])
REFERENCES [dbo].[user_types] ([user_type_id])
GO
USE [master]
GO
